.flows.json.backup
[{"id":"6f077b255b7f1bbe","type":"tab","label":"SecureMQTT","disabled":true,"info":""},{"id":"36312b41f6fef150","type":"tab","label":"Sonoff","disabled":false,"info":""},{"id":"59147d7eb45f072e","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"8dfd9a104f98cfdf","type":"tab","label":"Control","disabled":false,"info":""},{"id":"20bc3af90759de0a","type":"subflow","name":"temp_sensors","info":"","category":"","in":[],"out":[{"x":760,"y":140,"wires":[{"id":"af831e16c6aa4248","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ac44e5e7850df545","type":"subflow","name":"humidity_sensors","info":"","category":"","in":[],"out":[{"x":780,"y":100,"wires":[{"id":"1fbbff8accc62491","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"5c2f7edf9f4429fb","type":"smartthings-config","name":"node-red-home-automation","token":"dd97ae23-b6da-42f8-bd13-58043ebeab2f"},{"id":"c4678117286aa543","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"raspi4homeautomation","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b57aa3e2484a7237","type":"mqtt-broker","name":"","broker":"mqttbroker-dev","port":"1883","clientid":"raspi4homeautomation","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"00c81a13c58a1a76","type":"postgreSQLConfig","name":"","host":"postgresql","hostFieldType":"str","port":"5432","portFieldType":"num","database":"home","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"home","userFieldType":"str","password":"raspi","passwordFieldType":"str"},{"id":"6e9403f87fed2103","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Lámpara sofá","device":"448d23b5-51a0-4b87-8097-171b589aa657","x":500,"y":80,"wires":[["ed8ef3c0786369d0"]]},{"id":"ed8ef3c0786369d0","type":"debug","z":"36312b41f6fef150","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"79953445deefe147","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":140,"y":80,"wires":[["6e9403f87fed2103"]]},{"id":"f6519485934a5e7c","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":140,"y":120,"wires":[["6e9403f87fed2103"]]},{"id":"8efdb04bb6c80422","type":"comment","z":"36312b41f6fef150","name":"No todos los comandos llegan, necesitamos feedback de control","info":"","x":550,"y":160,"wires":[]},{"id":"1ef8fb1deb2a5631","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":130,"y":160,"wires":[["6e9403f87fed2103"]]},{"id":"2fc91f69fe8eed12","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/global/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":230,"y":140,"wires":[["99238f65f9dde5e7"]]},{"id":"99238f65f9dde5e7","type":"debug","z":"6f077b255b7f1bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"a1fe05fb66649edf","type":"inject","z":"6f077b255b7f1bbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":290,"y":220,"wires":[["13d12ed8d566b1b5"]]},{"id":"13d12ed8d566b1b5","type":"mqtt out","z":"6f077b255b7f1bbe","name":"","topic":"+/+/nodes/command/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c4678117286aa543","x":560,"y":220,"wires":[]},{"id":"e36466a2f3a884e2","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/node/+/data/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":240,"y":80,"wires":[["99238f65f9dde5e7"]]},{"id":"68a988fa7438ef37","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"1","payloadType":"str","x":170,"y":60,"wires":[["e74a221fe39594ae"]]},{"id":"e74a221fe39594ae","type":"mqtt out","z":"59147d7eb45f072e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b57aa3e2484a7237","x":450,"y":60,"wires":[]},{"id":"fd9e07d0fb8f8e23","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"qos","v":"0","vt":"num"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"0","payloadType":"str","x":170,"y":100,"wires":[["e74a221fe39594ae"]]},{"id":"22e2411870158bb1","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"abc","payloadType":"str","x":170,"y":140,"wires":[["e74a221fe39594ae"]]},{"id":"248dd6a35d59e4b5","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":260,"wires":[["52f46a8304667ffe"]]},{"id":"f0cf98dfce19052a","type":"debug","z":"59147d7eb45f072e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"41c3dac4ae7ef487","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":300,"wires":[["184c5ae8d84e92e0"]]},{"id":"db6ef370a5b3f08b","type":"debug","z":"59147d7eb45f072e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"a2d85e49e8ea315b","type":"comment","z":"59147d7eb45f072e","name":"Prune","info":"","x":190,"y":380,"wires":[]},{"id":"0fa930052e4b76db","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"21600","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":150,"y":480,"wires":[["d2cf5064ca5667d0"]]},{"id":"d2cf5064ca5667d0","type":"function","z":"59147d7eb45f072e","name":"time","func":"\nprune_hours = 24*30;\n\ntime = new Date(new Date() - prune_hours*60*60*1000); // ms\ntime_str = time.toISOString().replace(/T/, ' ').replace(/\\..+/, '');\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time_str\n    }\n}\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["174727357801c1c8","ef199a3aba251ffd"]]},{"id":"174727357801c1c8","type":"function","z":"59147d7eb45f072e","name":"temp_sensors","func":"msg.payload.db_table = \"temp_sensors\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["ff8a9655e4330a28"]]},{"id":"ef199a3aba251ffd","type":"function","z":"59147d7eb45f072e","name":"humidity_sensors","func":"msg.payload.db_table = \"humidity_sensors\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":520,"wires":[["ff8a9655e4330a28"]]},{"id":"52f46a8304667ffe","type":"postgresql","z":"59147d7eb45f072e","name":"select temp_sensors","query":"SELECT * FROM temp_sensors;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":640,"y":260,"wires":[["f0cf98dfce19052a"]]},{"id":"184c5ae8d84e92e0","type":"postgresql","z":"59147d7eb45f072e","name":"select humidity_sensors","query":"SELECT * FROM humidity_sensors;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":300,"wires":[["db6ef370a5b3f08b"]]},{"id":"ff8a9655e4330a28","type":"postgresql","z":"59147d7eb45f072e","name":"prune","query":"DELETE FROM {{{ msg.payload.db_table }}} WHERE time < '{{{ msg.payload.time }}}';","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":750,"y":480,"wires":[[]]},{"id":"5c9a74d39308b8b9","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Regleta calor lolos","device":"a2652087-cd0e-497d-97ff-62ab6518071a","x":510,"y":260,"wires":[["a7c09f6dce6102a6"]]},{"id":"70e778d17eb6715c","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":120,"y":260,"wires":[["5c9a74d39308b8b9"]]},{"id":"61769b2edbbd26c1","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":120,"y":300,"wires":[["5c9a74d39308b8b9"]]},{"id":"9ab9107a4ec6db4b","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":110,"y":340,"wires":[["5c9a74d39308b8b9"]]},{"id":"a7c09f6dce6102a6","type":"debug","z":"36312b41f6fef150","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"af831e16c6aa4248","type":"function","z":"20bc3af90759de0a","name":"insert temp_sensors","func":"\ntime = new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '');\nsource = msg.topic.split(\"/\")[3];\nvalue = parseInt(msg.payload);\n\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time,\n        \"value\": value,\n        \"source\": source,\n        \"sensor_type\": \"DHT22\",\n        \"units\": \"celsius\",\n        \"scale\": 10,\n        \"db_table\": \"temp_sensors\"\n    }\n}\n\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":140,"wires":[[]]},{"id":"9020067aaf95bad6","type":"mqtt in","z":"20bc3af90759de0a","name":"","topic":"home_automation/1/node/+/data/temperature","qos":"1","datatype":"utf8","broker":"b57aa3e2484a7237","nl":false,"rap":true,"rh":0,"x":230,"y":140,"wires":[["af831e16c6aa4248"]]},{"id":"3334efc2f57031d1","type":"subflow:20bc3af90759de0a","z":"8dfd9a104f98cfdf","name":"","env":[],"x":190,"y":320,"wires":[["60786789f318d7c2","7981f6e7fa955124"]]},{"id":"bcf9b2217b00ca39","type":"mqtt in","z":"ac44e5e7850df545","name":"","topic":"home_automation/1/node/+/data/relative_humidity","qos":"1","datatype":"utf8","broker":"b57aa3e2484a7237","nl":false,"rap":true,"rh":0,"x":250,"y":100,"wires":[["1fbbff8accc62491"]]},{"id":"1fbbff8accc62491","type":"function","z":"ac44e5e7850df545","name":"insert humidity_sensors","func":"\ntime = new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '');\nsource = msg.topic.split(\"/\")[3];\nvalue = parseInt(msg.payload);\n\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time,\n        \"value\": value,\n        \"source\": source,\n        \"sensor_type\": \"DHT22\",\n        \"units\": \"percentage\",\n        \"scale\": 10,\n        \"db_table\": \"humidity_sensors\"\n    }\n}\n\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":100,"wires":[[]]},{"id":"4e59240902e820fc","type":"subflow:ac44e5e7850df545","z":"8dfd9a104f98cfdf","name":"","env":[],"x":200,"y":240,"wires":[["60786789f318d7c2","7981f6e7fa955124"]]},{"id":"60786789f318d7c2","type":"postgresql","z":"8dfd9a104f98cfdf","name":"","query":"INSERT INTO {{{ msg.payload.db_table }}}\n    (time, value, source, units, scale, sensor_type)\n    VALUES\n    ('{{{ msg.payload.time }}}',\n    {{{ msg.payload.value }}},\n    '{{{ msg.payload.source }}}',\n    '{{{ msg.payload.units }}}',\n    {{{ msg.payload.scale }}},\n    '{{{ msg.payload.sensor_type }}}')\n;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":240,"wires":[[]]},{"id":"0848e851f178aa7a","type":"comment","z":"8dfd9a104f98cfdf","name":"Store Data","info":"","x":260,"y":180,"wires":[]},{"id":"7981f6e7fa955124","type":"function","z":"8dfd9a104f98cfdf","name":"last value","func":"\nswitch(msg.payload.db_table) {\n  case \"temp_sensors\":\n    \n    temp_sensors_last = flow.get(\"temp_sensors_last\");\n    temp_sensors_last[msg.payload.source] = msg.payload;\n    flow.set(\"temp_sensors_last\",temp_sensors_last);\n    \n    break;\n  case \"humidity_sensors\":\n    \n    humidity_sensors_last = flow.get(\"humidity_sensors_last\");\n    humidity_sensors_last[msg.payload.source] = msg.payload;\n    flow.set(\"humidity_sensors_last\",humidity_sensors_last);\n    \n    break;\n  default:\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ntemp_sensors_last = flow.get(\"temp_sensors_last\");\nhumidity_sensors_last = flow.get(\"humidity_sensors_last\");\n\nif (temp_sensors_last === undefined){\n    flow.set(\"temp_sensors_last\", {});\n}\nif (humidity_sensors_last === undefined){\n    flow.set(\"humidity_sensors_last\", {});\n}","finalize":"","libs":[],"x":520,"y":320,"wires":[[]]},{"id":"2761e8850a404dcf","type":"inject","z":"8dfd9a104f98cfdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":460,"wires":[["56aac3f79c1cb7c7"]]},{"id":"9d23d4065d0b0430","type":"smartthings-node-onoff","z":"8dfd9a104f98cfdf","conf":"5c2f7edf9f4429fb","name":"Regleta calor lolos","device":"a2652087-cd0e-497d-97ff-62ab6518071a","x":690,"y":460,"wires":[["51ea560636737e31"]]},{"id":"9585d72ca749d1e0","type":"function","z":"8dfd9a104f98cfdf","name":"control","func":"// Internal variables\ngoal_switch_value = -1;\n// 1  - switch on\n// 0  - switch off\n// -1 - no action\n\n// Configuration variables\ntemp_sensor_in_control = flow.get(\"temp_sensor_in_control\");\nmax_temp_th = flow.get(\"max_temp_th\");\nmin_temp_th = flow.get(\"min_temp_th\");\n\n// Get buffer\ntemp_sensors_last = flow.get(\"temp_sensors_last\");\nheater_status_last = flow.get(\"heater_status_last\");\n\n// Input value\ntemp_val = temp_sensors_last[temp_sensor_in_control][\"value\"] / 10;\n\n// Compare value to \nif (temp_val > max_temp_th) goal_switch_value = 0;\nif (temp_val <= min_temp_th) goal_switch_value = 1;\n\nif (goal_switch_value >= 0){\n    if (heater_status_last !== goal_switch_value){\n        msgOut = {\n            \"payload\": {\"value\": goal_switch_value},\n            \"topic\": \"switch\"\n        };\n        return msgOut;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":460,"wires":[["9d23d4065d0b0430"]]},{"id":"17737558503324bd","type":"inject","z":"8dfd9a104f98cfdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":80,"wires":[["5c51d790f15e4554"]]},{"id":"5c51d790f15e4554","type":"function","z":"8dfd9a104f98cfdf","name":"configuration","func":"flow.set(\"enable_control\", 0);\n\nflow.set(\"temp_sensor_in_control\", \"esp8266dev_temp_sensor_1\");\nflow.set(\"max_temp_th\", 30.0);\nflow.set(\"min_temp_th\", 27.0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[[]]},{"id":"51ea560636737e31","type":"function","z":"8dfd9a104f98cfdf","name":"","func":"\nif (msg.payload.deviceType === \"switch\"){\n    flow.set(\"heater_status_last\", msg.payload.value);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[[]]},{"id":"56aac3f79c1cb7c7","type":"function","z":"8dfd9a104f98cfdf","name":"enable","func":"\nif(flow.get(\"enable_control\")) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":460,"wires":[["9585d72ca749d1e0"]]}]