flows.json
[{"id":"36312b41f6fef150","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f077b255b7f1bbe","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5c2f7edf9f4429fb","type":"smartthings-config","name":"node-red-home-automation","token":"dd97ae23-b6da-42f8-bd13-58043ebeab2f"},{"id":"c4678117286aa543","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"raspi4homeautomation","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b57aa3e2484a7237","type":"mqtt-broker","name":"","broker":"mqttbroker-dev","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6e9403f87fed2103","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Lámpara sofá","device":"448d23b5-51a0-4b87-8097-171b589aa657","x":500,"y":80,"wires":[["ed8ef3c0786369d0"]]},{"id":"ed8ef3c0786369d0","type":"debug","z":"36312b41f6fef150","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"79953445deefe147","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":140,"y":80,"wires":[["6e9403f87fed2103"]]},{"id":"f6519485934a5e7c","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":140,"y":140,"wires":[["6e9403f87fed2103"]]},{"id":"8efdb04bb6c80422","type":"comment","z":"36312b41f6fef150","name":"No todos los comandos llegan, necesitamos feedback de control","info":"","x":550,"y":160,"wires":[]},{"id":"1ef8fb1deb2a5631","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":130,"y":200,"wires":[["6e9403f87fed2103"]]},{"id":"2fc91f69fe8eed12","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/global/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":230,"y":140,"wires":[["99238f65f9dde5e7"]]},{"id":"99238f65f9dde5e7","type":"debug","z":"6f077b255b7f1bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"a1fe05fb66649edf","type":"inject","z":"6f077b255b7f1bbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":290,"y":220,"wires":[["13d12ed8d566b1b5"]]},{"id":"13d12ed8d566b1b5","type":"mqtt out","z":"6f077b255b7f1bbe","name":"","topic":"+/+/nodes/command/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c4678117286aa543","x":560,"y":220,"wires":[]},{"id":"e36466a2f3a884e2","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/node/+/data/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":240,"y":100,"wires":[["99238f65f9dde5e7"]]},{"id":"396af721310ebc7c","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"#","qos":"1","datatype":"buffer","broker":"b57aa3e2484a7237","nl":false,"rap":true,"rh":0,"x":210,"y":360,"wires":[["aa53ea9a78d956dc"]]},{"id":"aa53ea9a78d956dc","type":"debug","z":"6f077b255b7f1bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]}]