flows.json
[{"id":"8dfd9a104f98cfdf","type":"tab","label":"Control","disabled":false,"info":""},{"id":"59147d7eb45f072e","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"36312b41f6fef150","type":"tab","label":"Sonoff","disabled":false,"info":""},{"id":"6f077b255b7f1bbe","type":"tab","label":"SecureMQTT","disabled":true,"info":""},{"id":"46673e60b939e811","type":"tab","label":"BirdMass","disabled":false,"info":""},{"id":"20bc3af90759de0a","type":"subflow","name":"temp_sensors","info":"","category":"","in":[],"out":[{"x":760,"y":140,"wires":[{"id":"af831e16c6aa4248","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ac44e5e7850df545","type":"subflow","name":"humidity_sensors","info":"","category":"","in":[],"out":[{"x":780,"y":100,"wires":[{"id":"1fbbff8accc62491","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"5c2f7edf9f4429fb","type":"smartthings-config","name":"node-red-home-automation","token":"dd97ae23-b6da-42f8-bd13-58043ebeab2f"},{"id":"c4678117286aa543","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"raspi4homeautomation","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b57aa3e2484a7237","type":"mqtt-broker","name":"","broker":"mqttbroker-dev","port":"1883","clientid":"raspi4homeautomation","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"00c81a13c58a1a76","type":"postgreSQLConfig","name":"","host":"postgresql","hostFieldType":"str","port":"5432","portFieldType":"num","database":"home","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"home","userFieldType":"str","password":"raspi","passwordFieldType":"str"},{"id":"20bddfc162a2ea2f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"beac849292a485ac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"999fb855f8a558a3","type":"ui_group","name":"Lolos' Weight","tab":"20bddfc162a2ea2f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6e9403f87fed2103","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Lámpara sofá","device":"448d23b5-51a0-4b87-8097-171b589aa657","x":500,"y":80,"wires":[["ed8ef3c0786369d0"]]},{"id":"ed8ef3c0786369d0","type":"debug","z":"36312b41f6fef150","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"79953445deefe147","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":140,"y":80,"wires":[["6e9403f87fed2103"]]},{"id":"f6519485934a5e7c","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":140,"y":120,"wires":[["6e9403f87fed2103"]]},{"id":"8efdb04bb6c80422","type":"comment","z":"36312b41f6fef150","name":"No todos los comandos llegan, necesitamos feedback de control","info":"","x":550,"y":160,"wires":[]},{"id":"1ef8fb1deb2a5631","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":130,"y":160,"wires":[["6e9403f87fed2103"]]},{"id":"2fc91f69fe8eed12","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/global/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":230,"y":140,"wires":[["99238f65f9dde5e7"]]},{"id":"99238f65f9dde5e7","type":"debug","z":"6f077b255b7f1bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"a1fe05fb66649edf","type":"inject","z":"6f077b255b7f1bbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":290,"y":220,"wires":[["13d12ed8d566b1b5"]]},{"id":"13d12ed8d566b1b5","type":"mqtt out","z":"6f077b255b7f1bbe","name":"","topic":"+/+/nodes/command/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c4678117286aa543","x":560,"y":220,"wires":[]},{"id":"e36466a2f3a884e2","type":"mqtt in","z":"6f077b255b7f1bbe","name":"","topic":"+/+/node/+/data/#","qos":"2","datatype":"buffer","broker":"c4678117286aa543","nl":false,"rap":true,"rh":0,"x":240,"y":80,"wires":[["99238f65f9dde5e7"]]},{"id":"68a988fa7438ef37","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"1","payloadType":"str","x":170,"y":60,"wires":[["e74a221fe39594ae"]]},{"id":"e74a221fe39594ae","type":"mqtt out","z":"59147d7eb45f072e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b57aa3e2484a7237","x":450,"y":60,"wires":[]},{"id":"fd9e07d0fb8f8e23","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"qos","v":"0","vt":"num"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"0","payloadType":"str","x":170,"y":100,"wires":[["e74a221fe39594ae"]]},{"id":"22e2411870158bb1","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home_automation/1/node/esp8266dev_temp_sensor_1/command/led_control","payload":"abc","payloadType":"str","x":170,"y":140,"wires":[["e74a221fe39594ae"]]},{"id":"248dd6a35d59e4b5","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":260,"wires":[["52f46a8304667ffe"]]},{"id":"f0cf98dfce19052a","type":"debug","z":"59147d7eb45f072e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"41c3dac4ae7ef487","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":300,"wires":[["184c5ae8d84e92e0"]]},{"id":"db6ef370a5b3f08b","type":"debug","z":"59147d7eb45f072e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"a2d85e49e8ea315b","type":"comment","z":"59147d7eb45f072e","name":"Prune","info":"","x":190,"y":380,"wires":[]},{"id":"0fa930052e4b76db","type":"inject","z":"59147d7eb45f072e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"21600","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":150,"y":480,"wires":[["d2cf5064ca5667d0"]]},{"id":"d2cf5064ca5667d0","type":"function","z":"59147d7eb45f072e","name":"time","func":"\nprune_hours = 24*30;\n\ntime = new Date(new Date() - prune_hours*60*60*1000); // ms\ntime_str = time.toISOString().replace(/T/, ' ').replace(/\\..+/, '');\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time_str\n    }\n}\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["174727357801c1c8","ef199a3aba251ffd"]]},{"id":"174727357801c1c8","type":"function","z":"59147d7eb45f072e","name":"temp_sensors","func":"msg.payload.db_table = \"temp_sensors\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["ff8a9655e4330a28"]]},{"id":"ef199a3aba251ffd","type":"function","z":"59147d7eb45f072e","name":"humidity_sensors","func":"msg.payload.db_table = \"humidity_sensors\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":520,"wires":[["ff8a9655e4330a28"]]},{"id":"52f46a8304667ffe","type":"postgresql","z":"59147d7eb45f072e","name":"select temp_sensors","query":"SELECT * FROM temp_sensors;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":640,"y":260,"wires":[["f0cf98dfce19052a"]]},{"id":"184c5ae8d84e92e0","type":"postgresql","z":"59147d7eb45f072e","name":"select humidity_sensors","query":"SELECT * FROM humidity_sensors;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":300,"wires":[["db6ef370a5b3f08b"]]},{"id":"ff8a9655e4330a28","type":"postgresql","z":"59147d7eb45f072e","name":"prune","query":"DELETE FROM {{{ msg.payload.db_table }}} WHERE time < '{{{ msg.payload.time }}}';","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":750,"y":480,"wires":[[]]},{"id":"5c9a74d39308b8b9","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Regleta calor lolos","device":"a2652087-cd0e-497d-97ff-62ab6518071a","x":510,"y":260,"wires":[["a7c09f6dce6102a6"]]},{"id":"70e778d17eb6715c","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":120,"y":260,"wires":[["5c9a74d39308b8b9"]]},{"id":"61769b2edbbd26c1","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":120,"y":300,"wires":[["5c9a74d39308b8b9"]]},{"id":"9ab9107a4ec6db4b","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":110,"y":340,"wires":[["5c9a74d39308b8b9"]]},{"id":"a7c09f6dce6102a6","type":"debug","z":"36312b41f6fef150","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"af831e16c6aa4248","type":"function","z":"20bc3af90759de0a","name":"insert temp_sensors","func":"\ntime = new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '');\nsource = msg.topic.split(\"/\")[3];\nvalue = parseInt(msg.payload);\n\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time,\n        \"value\": value,\n        \"source\": source,\n        \"sensor_type\": \"DHT22\",\n        \"units\": \"celsius\",\n        \"scale\": 10,\n        \"db_table\": \"temp_sensors\"\n    }\n}\n\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":140,"wires":[[]]},{"id":"9020067aaf95bad6","type":"mqtt in","z":"20bc3af90759de0a","name":"","topic":"home_automation/1/node/+/data/temperature","qos":"1","datatype":"utf8","broker":"b57aa3e2484a7237","nl":false,"rap":true,"rh":0,"x":230,"y":140,"wires":[["af831e16c6aa4248"]]},{"id":"3334efc2f57031d1","type":"subflow:20bc3af90759de0a","z":"8dfd9a104f98cfdf","name":"","env":[],"x":190,"y":320,"wires":[["60786789f318d7c2","7981f6e7fa955124"]]},{"id":"bcf9b2217b00ca39","type":"mqtt in","z":"ac44e5e7850df545","name":"","topic":"home_automation/1/node/+/data/relative_humidity","qos":"1","datatype":"utf8","broker":"b57aa3e2484a7237","nl":false,"rap":true,"rh":0,"x":250,"y":100,"wires":[["1fbbff8accc62491"]]},{"id":"1fbbff8accc62491","type":"function","z":"ac44e5e7850df545","name":"insert humidity_sensors","func":"\ntime = new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '');\nsource = msg.topic.split(\"/\")[3];\nvalue = parseInt(msg.payload);\n\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time,\n        \"value\": value,\n        \"source\": source,\n        \"sensor_type\": \"DHT22\",\n        \"units\": \"percentage\",\n        \"scale\": 10,\n        \"db_table\": \"humidity_sensors\"\n    }\n}\n\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":100,"wires":[[]]},{"id":"4e59240902e820fc","type":"subflow:ac44e5e7850df545","z":"8dfd9a104f98cfdf","name":"","env":[],"x":200,"y":240,"wires":[["60786789f318d7c2","7981f6e7fa955124"]]},{"id":"60786789f318d7c2","type":"postgresql","z":"8dfd9a104f98cfdf","name":"","query":"INSERT INTO {{{ msg.payload.db_table }}}\n    (time, value, source, units, scale, sensor_type)\n    VALUES\n    ('{{{ msg.payload.time }}}',\n    {{{ msg.payload.value }}},\n    '{{{ msg.payload.source }}}',\n    '{{{ msg.payload.units }}}',\n    {{{ msg.payload.scale }}},\n    '{{{ msg.payload.sensor_type }}}')\n;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":240,"wires":[[]]},{"id":"0848e851f178aa7a","type":"comment","z":"8dfd9a104f98cfdf","name":"Store Data","info":"","x":260,"y":180,"wires":[]},{"id":"7981f6e7fa955124","type":"function","z":"8dfd9a104f98cfdf","name":"last value","func":"\nswitch(msg.payload.db_table) {\n  case \"temp_sensors\":\n    \n    temp_sensors_last = flow.get(\"temp_sensors_last\");\n    temp_sensors_last[msg.payload.source] = msg.payload;\n    flow.set(\"temp_sensors_last\",temp_sensors_last);\n    \n    break;\n  case \"humidity_sensors\":\n    \n    humidity_sensors_last = flow.get(\"humidity_sensors_last\");\n    humidity_sensors_last[msg.payload.source] = msg.payload;\n    flow.set(\"humidity_sensors_last\",humidity_sensors_last);\n    \n    break;\n  default:\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ntemp_sensors_last = flow.get(\"temp_sensors_last\");\nhumidity_sensors_last = flow.get(\"humidity_sensors_last\");\n\nif (temp_sensors_last === undefined){\n    flow.set(\"temp_sensors_last\", {});\n}\nif (humidity_sensors_last === undefined){\n    flow.set(\"humidity_sensors_last\", {});\n}","finalize":"","libs":[],"x":520,"y":320,"wires":[[]]},{"id":"2761e8850a404dcf","type":"inject","z":"8dfd9a104f98cfdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":460,"wires":[["56aac3f79c1cb7c7"]]},{"id":"9d23d4065d0b0430","type":"smartthings-node-onoff","z":"8dfd9a104f98cfdf","conf":"5c2f7edf9f4429fb","name":"Regleta calor lolos","device":"a2652087-cd0e-497d-97ff-62ab6518071a","x":690,"y":460,"wires":[["51ea560636737e31"]]},{"id":"9585d72ca749d1e0","type":"function","z":"8dfd9a104f98cfdf","name":"control","func":"// Internal variables\ngoal_switch_value = -1;\n// 1  - switch on\n// 0  - switch off\n// -1 - no action\n\n// Configuration variables\ntemp_sensor_in_control = flow.get(\"temp_sensor_in_control\");\nmax_temp_th = flow.get(\"max_temp_th\");\nmin_temp_th = flow.get(\"min_temp_th\");\n\n// Get buffer\ntemp_sensors_last = flow.get(\"temp_sensors_last\");\nheater_status_last = flow.get(\"heater_status_last\");\n\n// Input value\ntemp_val = temp_sensors_last[temp_sensor_in_control][\"value\"] / 10;\n\n// Compare value to \nif (temp_val > max_temp_th) goal_switch_value = 0;\nif (temp_val <= min_temp_th) goal_switch_value = 1;\n\nif (goal_switch_value >= 0){\n    if (heater_status_last !== goal_switch_value){\n        msgOut = {\n            \"payload\": {\"value\": goal_switch_value},\n            \"topic\": \"switch\"\n        };\n        return msgOut;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":460,"wires":[["9d23d4065d0b0430"]]},{"id":"17737558503324bd","type":"inject","z":"8dfd9a104f98cfdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":80,"wires":[["5c51d790f15e4554"]]},{"id":"5c51d790f15e4554","type":"function","z":"8dfd9a104f98cfdf","name":"configuration","func":"flow.set(\"enable_control\", 0);\n\nflow.set(\"temp_sensor_in_control\", \"esp8266dev_temp_sensor_1\");\nflow.set(\"max_temp_th\", 30.0);\nflow.set(\"min_temp_th\", 27.0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[[]]},{"id":"51ea560636737e31","type":"function","z":"8dfd9a104f98cfdf","name":"update","func":"\nif (msg.payload.deviceType === \"switch\"){\n    flow.set(\"heater_status_last\", msg.payload.value);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":460,"wires":[[]]},{"id":"56aac3f79c1cb7c7","type":"function","z":"8dfd9a104f98cfdf","name":"enable","func":"\nif(flow.get(\"enable_control\")) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":460,"wires":[["9585d72ca749d1e0"]]},{"id":"efb238290167ea0e","type":"ui_numeric","z":"46673e60b939e811","name":"","label":"Mass (g)","tooltip":"","group":"999fb855f8a558a3","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"className":"","x":200,"y":240,"wires":[["758981c74719430b"]]},{"id":"e86922abe82a9592","type":"ui_chart","z":"46673e60b939e811","name":"Historic","group":"999fb855f8a558a3","order":4,"width":"6","height":"6","label":"Historic","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d56d0b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":460,"wires":[[]]},{"id":"44b3a86b8c37ea64","type":"comment","z":"46673e60b939e811","name":"TODO: remove value (manually clean invalid data)","info":"","x":310,"y":540,"wires":[]},{"id":"6724053283b69ea2","type":"function","z":"46673e60b939e811","name":"Parse","func":"time = new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '');\nmsgOut = {\n    \"payload\": {\n        \"time\": time,\n        \"mass\": flow.get(\"bird_mass_grams\"),\n        \"name\": flow.get(\"bird_name_string\"),\n        \"db_table\": \"bird_mass\"\n    }\n};\n\nreturn msgOut;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["4c97a5e9c0d64d85"]]},{"id":"70cfc620c8cce9d3","type":"ui_button","z":"46673e60b939e811","name":"","group":"999fb855f8a558a3","order":3,"width":0,"height":0,"passthru":false,"label":"Save Data","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":360,"wires":[["6724053283b69ea2"]]},{"id":"758981c74719430b","type":"function","z":"46673e60b939e811","name":"Save mass","func":"flow.set(\"bird_mass_grams\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[[]]},{"id":"a726edea86e3f2ad","type":"ui_dropdown","z":"46673e60b939e811","name":"","label":"Lolo","tooltip":"","place":"Select option","group":"999fb855f8a558a3","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"LILI","value":"LILI","type":"str"},{"label":"LOLA","value":"LOLA","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":160,"wires":[["240d2426ddbc2826"]]},{"id":"240d2426ddbc2826","type":"function","z":"46673e60b939e811","name":"Save bird","func":"flow.set(\"bird_name_string\", msg.payload);\n\nmsgOut = {\n    \"payload\": {\n        \"name\": msg.payload\n    }\n};\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":160,"wires":[["43764f8db64300fd"]]},{"id":"4c97a5e9c0d64d85","type":"postgresql","z":"46673e60b939e811","name":"","query":"INSERT INTO {{{ msg.payload.db_table }}}\n    (time, mass, name)\n    VALUES\n    ('{{{ msg.payload.time }}}',\n    {{{ msg.payload.mass }}},\n    '{{{ msg.payload.name }}}')\n;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":730,"y":360,"wires":[["9c4fc8fb230addd4"]]},{"id":"43764f8db64300fd","type":"postgresql","z":"46673e60b939e811","name":"","query":"SELECT time, mass \n\tFROM bird_mass \n\tWHERE name = '{{{ msg.payload.name }}}' \n\tORDER BY time DESC \n\tLIMIT 1;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":160,"wires":[["057cbac74827b587"]]},{"id":"057cbac74827b587","type":"function","z":"46673e60b939e811","name":"Get mass","func":"msgOut = {\n    \"payload\": msg.payload[0][\"mass\"]\n};\n\nreturn msgOut;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":160,"wires":[["efb238290167ea0e"]]},{"id":"9c4fc8fb230addd4","type":"postgresql","z":"46673e60b939e811","name":"","query":"SELECT time, mass, name\n\tFROM bird_mass;","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":290,"y":460,"wires":[["b3c2050a2e9daffe"]]},{"id":"e5cc1054a114fb2d","type":"inject","z":"46673e60b939e811","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":460,"wires":[["9c4fc8fb230addd4"]]},{"id":"b3c2050a2e9daffe","type":"function","z":"46673e60b939e811","name":"Parse","func":"\n// msgOut = {\n//     \"payload\": [{\n//         \"series\": [\"A\", \"B\", \"C\"],\n//         \"data\": [\n//             [{ \"x\": 1504029632890, \"y\": 5 },\n//              { \"x\": 1504029636001, \"y\": 4 },\n//              { \"x\": 1504029638656, \"y\": 2 }\n//             ],\n//             [{ \"x\": 1504029633514, \"y\": 6 },\n//              { \"x\": 1504029636622, \"y\": 7 },\n//              { \"x\": 1504029639539, \"y\": 6 }\n//             ],\n//             [{ \"x\": 1504029634400, \"y\": 7 },\n//              { \"x\": 1504029637959, \"y\": 7 },\n//              { \"x\": 1504029640317, \"y\": 7 }\n//             ]\n//         ],\n//         \"labels\": [\"\"]\n//     }]\n// };\n\nseries = [];\ndata = [];\n\nfor (var key in msg.payload){\n    name = msg.payload[key][\"name\"];\n    time_unix = Date.parse(msg.payload[key][\"time\"]);\n    mass = msg.payload[key][\"mass\"];\n    \n    index = series.findIndex(element => element === name);\n    if (index < 0){\n        series.push(name);\n        index = series.findIndex(element => element === name);\n        data[index] = [];\n    }\n    \n    data[index].push({ \"x\": time_unix, \"y\": mass });\n    \n}\n\nmsgOut = {\n    \"payload\": [{\n        \"series\": series,\n        \"data\": data,\n        \"labels\": [\"\"]\n    }]\n};\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":460,"wires":[["e86922abe82a9592"]]},{"id":"1566d835c249bbeb","type":"comment","z":"46673e60b939e811","name":"Prune","info":"","x":190,"y":640,"wires":[]},{"id":"a0bf7156c6ba0ad3","type":"inject","z":"46673e60b939e811","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"21600","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":150,"y":740,"wires":[["e126ce8ccf960ebd"]]},{"id":"e126ce8ccf960ebd","type":"function","z":"46673e60b939e811","name":"time","func":"\nprune_hours = 24*365;\n\ntime = new Date(new Date() - prune_hours*60*60*1000); // ms\ntime_str = time.toISOString().replace(/T/, ' ').replace(/\\..+/, '');\n\nmsgOut = {\n    \"payload\": {\n        \"time\": time_str\n    }\n}\n\nreturn msgOut;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":740,"wires":[["a22cc963d23e91f1"]]},{"id":"a22cc963d23e91f1","type":"function","z":"46673e60b939e811","name":"bird_mass","func":"msg.payload.db_table = \"bird_mass\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":740,"wires":[["e9ed330abefc8a36"]]},{"id":"e9ed330abefc8a36","type":"postgresql","z":"46673e60b939e811","name":"prune","query":"DELETE FROM {{{ msg.payload.db_table }}} WHERE time < '{{{ msg.payload.time }}}';","postgreSQLConfig":"00c81a13c58a1a76","split":false,"rowsPerMsg":1,"outputs":1,"x":750,"y":740,"wires":[[]]}]