flows.json
[{"id":"36312b41f6fef150","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c2f7edf9f4429fb","type":"smartthings-config","name":"node-red-home-automation","token":"dd97ae23-b6da-42f8-bd13-58043ebeab2f"},{"id":"6e9403f87fed2103","type":"smartthings-node-onoff","z":"36312b41f6fef150","conf":"5c2f7edf9f4429fb","name":"Lámpara sofá","device":"448d23b5-51a0-4b87-8097-171b589aa657","x":500,"y":80,"wires":[["ed8ef3c0786369d0"]]},{"id":"ed8ef3c0786369d0","type":"debug","z":"36312b41f6fef150","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"79953445deefe147","type":"inject","z":"36312b41f6fef150","name":"Switch On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":1}","payloadType":"json","x":140,"y":80,"wires":[["6e9403f87fed2103"]]},{"id":"f6519485934a5e7c","type":"inject","z":"36312b41f6fef150","name":"Switch Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch","payload":"{\"value\":0}","payloadType":"json","x":140,"y":140,"wires":[["6e9403f87fed2103"]]},{"id":"8efdb04bb6c80422","type":"comment","z":"36312b41f6fef150","name":"No todos los comandos llegan, necesitamos feedback de control","info":"","x":550,"y":160,"wires":[]},{"id":"1ef8fb1deb2a5631","type":"inject","z":"36312b41f6fef150","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payloadType":"date","x":130,"y":200,"wires":[["6e9403f87fed2103"]]}]